<article>
  <div class="blog-post">
    <header class="post-header">{{title}}
      <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </header>
    <div class="card-body">
      <p class="card-text">{{post_content}}</p>
    </div>
  </div>
</article>