<article>
  <div class="blog-post">
    <h2>Create New Post</h2>
    <div class="card-body">
      <form>
        <div class="input-spacing">
          <label for="input-username">Title</label>
          <input
            type="text"
            class="form-control"
            id="input-username"
            placeholder="Name of post"
          />
        </div>
        <div class="input-spacing">
          <label for="post-content">Content</label>
          <textarea id="post-content" rows="3" name="post-content"></textarea>
        </div>
        <div class="input-spacing">
          <button type="submit" class="submit-button">Create</button>
        </div>
      </form>
    </div>
  </div>
</article>

<script src="./js/create-post.js"></script>