<div id="dashboard-container">

  {{#each posts as |post|}}

    <article class="dashboard-post">
      <a href="/dashboard/update/{{post.id}}"><h2>{{post.title}}</h2></a>
      <h2> {{format_date post.date_created}} </h2>
    </article>

  {{/each}}

  <a href="/dashboard/create" id="create-post-button">Create New Post</a>
</div>